services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "8080:8080"
    environment:
      POSTGRES_DSN: postgres://postgres:postgres@postgres:5432/short_url
      BASE_URL: http://localhost:8080
      PORT: 8080
      RUST_LOG: info
      RUST_LOG_FORMAT: text
    depends_on:
      - postgres
      - redis
    develop:
      watch:
        - action: rebuild
          path: .
  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    volumes:
      - ./psql:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "short_url"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
