services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "8080:8080"
    environment:
      POSTGRES_DSN: postgres://postgres:postgres@postgres:5432/short_url
      BASE_URL: http://localhost:8080
      PORT: 8080
      RUST_LOG: info
      RUST_LOG_FORMAT: text
    depends_on:
      - scylladb
    develop:
      watch:
        - action: rebuild
          path: .
  scylladb:
    image: scylladb/scylla:2025.3.3
    command: "--smp 1 --memory 256M"
    ports:
      - "9042:9042"
    volumes:
      - scylla_data:/var/lib/scylla

volumes:
  scylla_data:
