services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "8080:8080"
    environment:
      SCYLLA_URL: scylladb:9042
      BASE_URL: http://localhost:8080
      PORT: 8080
      RUST_LOG: info
      RUST_LOG_FORMAT: text
    depends_on:
      - scylladb-create-keyspace
    develop:
      watch:
        - action: rebuild
          path: .
  scylladb:
    image: scylladb/scylla:2025.3.3
    command: "--smp 1 --memory 256M"
    ports:
      - "9042:9042"
    volumes:
      - scylla_data:/var/lib/scylla

  scylladb-create-keyspace:
    image: scylladb/scylla:2025.3.3
    volumes:
      - ./scylla/initdb.sh:/scylla_scripts/initdb.sh
    entrypoint: [ "bash", "/scylla_scripts/initdb.sh" ]
    environment:
      ENDPOINT: scylladb
      USER_NAME: cassandra
      PASSWORD: cassandra
    depends_on:
      - scylladb

volumes:
  scylla_data:
